<div class="content-scroll">
	<div class="scrollable">
		<h1>Mandantenbereich</h1>
		<p style="margin-bottom: 20px;">Wir veröffentlichen hier unsere monatliche Übersicht für unsere Mandanten:</p>

		{{!mandanten-report month='Oktober' year='2018' link='../assets/blitzlicht/201810 - Blitzlicht.pdf' }}
		{{mandanten-report month='September' year='2018' link='../assets/blitzlicht/201809 - Blitzlicht.pdf' }}
		{{mandanten-report month='August' year='2018' link='../assets/blitzlicht/201808 - Blitzlicht.pdf' }}
		{{mandanten-report month='Juli' year='2018' link='../assets/blitzlicht/201807 - Blitzlicht.pdf' }}
		{{mandanten-report month='Juni' year='2018' link='../assets/blitzlicht/201806 - Blitzlicht.pdf' }}
		{{mandanten-report month='Mai' year='2018' link='../assets/blitzlicht/201805 - Blitzlicht.pdf' }}
		{{mandanten-report month='April' year='2018' link='../assets/blitzlicht/201804 - Blitzlicht.pdf' }}
		{{mandanten-report month='März' year='2018' link='../assets/blitzlicht/201803 - Blitzlicht.pdf' }}
		{{mandanten-report month='Februar' year='2018' link='../assets/blitzlicht/201802 - Blitzlicht.pdf' }}
		{{mandanten-report month='Januar' year='2018' link='../assets/blitzlicht/201801 - Blitzlicht.pdf' }}

		<br/>
		<br/>
	</div>
</div>

{{image-container image='mandanten'}}